<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" /> -->
    <add key="MyGet g4dot0-internal" value="https://www.myget.org/F/g4dot0-internal/auth/3d0d74df-f6d6-4ccc-b453-56ec0ddf66cc/api/v3/index.json" />
  </packageSources>
</configuration>